#summarizeMeID {
  padding: 15px;
  width: auto;
  font-family: 'Verdana';
  font-size: 13.5px;
  background-color: #F3F2EE;
}

#summarizeMeUL {
  margin-bottom: 10px;
}

/* OB: similar as mentioned elsewhere, I think you could make this a class instead, and if so it'd probably be something like `.pull-right` (a name I lifted from bootstrap) */
#summarizeMeButton {
  float: right;
}
