#summarizeMeID {
  padding: 15px;
  width: auto;
  font-family: 'Verdana';
  font-size: 13.5px;
  background-color: #F3F2EE;
}

#summarizeMeUL {
  margin-bottom: 10px;
}

#summarizeMeButton {
  float: right;
}

mark{
    background: #38D37F;
}

mark.govt {
    background: blue;
}

mark.track {
    background: yellow;
}

mark.share {
    background: green;
}

mark.sell {
    background: red;
}

mark.copyright {
    background: orange;
}

mark.court {
    background: purple;
}
