body {
  padding: 20px;
  width: 400px;
  height: 460px;
  font-family: 'Lato';
  background-color: #F3F2EE;
}

.header {
  border-bottom: 1px solid #B9B9B9;
  padding-bottom: 17px;
}

.header-text {
  font-size: 16px;
  font-weight: bold;
}

.header-text-green {
  color: #38D37F;
}

.info {
  margin-top: 15px;
  margin-bottom: 20px;
}

.info-title {
  font-size: 16px;
  font-weight: bold;
}

.info-list {
  margin-block-start: 5px;
  list-style-type: none;
  padding-inline-start: 54px;
}

.data {
  padding-inline-start: 0px;
}

.info-list-sub {
  display: inline-block;
  width: 54px;
  color: #38D37F;
  font-size: 14px;
}

li {
  padding-bottom: 8px;
}

h4 {
  text-align: center;
  font-size: 9px;
  color: #B9B9B9;
}

button  {
  margin-top: 10px;
  outline: none;
}

#box {
  box-sizing: border-box;
  border-radius: 7px;
  background-clip: padding-box;
  background-color: white;
  padding: 25px;
}
